* {
    margin: 0;
}

header {
    position: relative;
}

.parallax-window {
    padding-top: 64px;
    min-height: 384px;
    background: transparent;
    box-shadow: 0 4px 2px -2px #777;
    margin-bottom: 32px;
}

#logo {
    background-image: url("/assets/images/logo.jpg");  
    width: 320px;
    height: 320px;  
    margin: 0 auto 64px;
    border-radius: 16px;
    opacity: 0.9;
}

#barra {
    width: 98%;
    margin: 0 auto;
    height: 4px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 32px;
    opacity: 0.9;
}

#menu {
    padding-bottom: 24px;
    margin: 0 auto;
    display: table;
}

#menu a {
    background-color: white;
    padding: 16px;
    text-decoration: none;
    color: rgb(87, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 8px 0 0;
    font-size: 24px;
    opacity: 0.9;
}

#menu a:first-child {
    margin-left: 0;
}