<!DOCTYPE html>
<html>
    <head>
        <title>Cave Del Vino</title>
        <script src="js/jquery.min.js"></script>
        <script src="js/parallax.min.js"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <header>
            
            
            <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/parallax.png">
                <a href="/"><div id="logo"></div></a>
                <div id="barra"></div>
                <div id="menu">
                    <div>
                        <a href="/">Menu 1</a>
                        <a href="/">Menu 2</a>
                        <a href="/">Menu 3</a>
                        <a href="/">Menu 4</a>
                    </div>
                </div>
            </div>

        </header>
        
            {% block content %}{% endblock %}
        
        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </body>
    <script src="js/scripts.js"></script>
</html>